:root {
  --main-color: #638d46;
}

html,
body,
main {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1;
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.container {
  width: 800px;
  margin: 0 auto;
  align-items: center;
}

.title {
  padding: 20px;
  text-align: center;
  color: var(--main-color);
  visibility: hidden;
}

.info {
  display: flex;
  align-items: center;
}

.picture,
.description {
  padding: 20px;
  color: var(--main-color);
}

.click2 {
  margin-left: 5px;
}

a {
  background-color: #638d46;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

a:hover {
  background-color: #4a6835;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

a:active {
  box-shadow: none;
  top: 5px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  padding: 8px;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

.kontakt {
  margin-right: 60px;
}

.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-8%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

.rainbow {
  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  65% {
    color: yellow;
  }
  80% {
    color: purple;
  }
  95% {
    color: orange;
  }
  100% {
    color: black;
  }
}

.description p {
  color: black
}

